<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@5.23.2/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/medium.css' %}" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body class="loader" style="background: url({% static "image3.jpg" %}); background-size: cover;">

    <nav class="navbar navbar-inverse techfont custom-navbar">
      <div class="container">
      <ul class="nav navbar-nav">

        <li><a class="navbar-brand bigbrand" href="{% url 'post_list' %}">My blog</a> </li>
        <li> <a href="{% url 'about' %}">About</a></li>
        <li> <a href="https://www.github.com">Github</a> </li>
        <li><a href="https://www.linkedin.com">LinkedIn</a> </li>
      </ul>
      <ul class = 'nav navbar-nav navbar-right'>
          <li>
            <a href="{% url 'post_new' %}">New Post</a>
          </li>
          <li>
            <a href="{% url 'post_draft_list' %}">Drafts</a>
          </li>
        {% if user.is_authenticated %}
          <li>
            <a href="{% url 'logout' %}">Log Out</a>
          </li>
          <li>
            <a> Welcome: {{user.username}} </a>
          </li>
          {% else %}
          <li>
            <a class = 'nav navbar-right' href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span></a>
          </li>
          {% endif %}
      </ul>
      </div>
    </nav>
       <div class="content container">
        <div class="row">
         <div class="col-md-8" style="background:rgba(255,255,255,0.85); padding-bottom:5px; border-radius:7px;">
          <div class="blog_posts">
           {% block content %}
           {% endblock %}
          </div>
         </div>
        </div>
       </div>
  </body>
</html>
